@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
    background: black;
    color: white;
    font-family: 'Roboto', sans-serif;
}
div.container {
    max-width: 500px;
    margin: 100px auto;
    border: 20px solid white;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}
img {
    border-radius: 10px;
}
h4 {
    text-transform: uppercase;
}